.jumbotron {
    background-color: crimson;
    color: white;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: crimson;
    margin-bottom: 0px;
    margin-top: 10px;
    color: white;
}

.card-hotel {
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}